// colors
$color-dark: #171717;
$color-dark2: #212121;
$color-dark3: #313131;
$color-dark4: #414141;
$color-dark5: #515151;
$color-light: #aaa;
$color-light2: #bbb;
$color-light3: #ccc;
$color-light4: #ddd;
$color-light5: #eee;
$color-white: #FFFFFF;
$color-accent: #7dc392;
$color-background: #f5f5f5;

// text
$text-primary: $color-dark2;
$text-secondary: $color-dark4;
$text-link: #2d60a7;
$text-dark: $color-dark3;
$text-light: $color-white;

// background
$background-navbar: $color-background;
$background-footer: #d6dbd7;
$background: $color-background;
$background2: $color-light3;
$background3: $color-light4;
$background4: $color-light5;

// button
$button-color: #699275;
$button-hover-color: #56755f;
$button-outline-color: $color-dark5;
$button-text: $color-dark2;

// table
$table-outline: $color-light5;
$table-background: $color-light3;

// icon
$icon-color: $color-dark4;
$icon-hover-color: $color-dark;