@use 'variables';

.header {
    background-color: variables.$background-navbar;
    color: variables.$text-primary;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    h1 {
        margin: 0;
    }
    
    a {
        color: variables.$text-primary;

        &:hover {
            cursor: pointer;
        }
    }

    .buttons {
        display: flex;
        align-items: center;

        button {
            margin-left: 1rem;
        }
    }
}

.logout-button {
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    font-weight: 500;

    &:hover {
        background-color: variables.$color-light2;
    }
}

.profile-icon {
    font-size: 2rem;
    display: flex;
    align-items: center;
    color: variables.$icon-color !important;

    &:hover {
        color: variables.$icon-hover-color !important;
    }
}
