@use 'variables';

.header {
    background-color: variables.$background-navbar;
    color: variables.$text-primary;
    padding: 1rem 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    h1 {
        margin: 0;
    }
    
    a {
        color: variables.$text-primary;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .buttons {
        display: flex;
        align-items: center;

        button {
            margin-left: 1rem;
        }
    }
}
