@use 'variables';

.wallet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    .wallet-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .balance {
            font-size: 3rem;
            font-weight: 800;
        }
    }

}