// colors
$color-dark: #171717;
$color-dark2: #212121;
$color-dark3: #313131;
$color-dark4: #414141;
$color-dark5: #515151;
$color-light: #aaa;
$color-light2: #bbb;
$color-light3: #ccc;
$color-light4: #ddd;
$color-light5: #eee;
$color-white: #FFFFFF;
$color-accent: #7dc392;

// text
$text-primary: $color-light4;
$text-secondary: $color-light2;
$text-link: #4477be;
$text-dark: $color-dark3;
$text-light: $color-white;

// background
$background-navbar: $color-dark;
$background-sidebar: $color-dark;
$background: $color-dark2;
$background2: $color-dark3;
$background3: $color-dark4;
$background4: $color-dark5;

// button
$button-color: #2d649e;
$button-hover-color: #24486e;
$button-outline-color: $color-dark5;
$button-text: $color-white;

// table
$table-outline: $color-dark5;
$table-background: $color-dark3;

// icons
$icon-color: $color-dark4;
$icon-hover-color: $color-dark;