@use 'variables';

@use 'header';
@use 'sidebar';
@use 'home';
@use 'login';
@use 'scooters';
@use 'customers';
@use 'map';

html {
    font-family: "Roboto", sans-serif;
    background-color: variables.$background;
    color: variables.$text-primary;
}

body {
    margin: 0;
    padding: 0;
}

.main-content {
    margin-left: 200px;
    margin-top: 70px;
    padding: 3rem;
}

.center {
    text-align: center;
}

h1 {
    font-size: 2rem;
}

a {
    text-decoration: inherit;
    color: variables.$text-link;
}

input {
    background-color: variables.$background2;
    color: variables.$text-primary;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 0.75rem;
    border: none;
    border-radius: 0.5rem;
    box-sizing: border-box;

    &:focus {
        outline: none;
        background-color: variables.$background3;
    }
}

button {
    background-color: variables.$button-color;
    color: variables.$button-text;
    font-size: 1rem;
    border: none;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: variables.$button-hover-color;
    }
}

.login-button {
    color: variables.$text-light;
    font-weight: 500;
}