@use 'variables';

.scooters {
    max-width: 1000px;
    margin: 0 auto;

    table {
        width: 100%;
        border-collapse: collapse;
        border-bottom: 2px solid variables.$table-outline;

        th, td {
            padding: 1rem;
        }

        td {
            border-top: 2px solid variables.$table-outline;
        }

        tbody tr:hover {
            background-color: variables.$table-outline;
            cursor: pointer;
        }

        th, td {
            text-align: left;
        }
    }

    .low-battery {
        color: variables.$color-red;
    }
}

.scooters .expanded {
    td {
        background-color: variables.$background;
        text-align: center;
        border-top: none;
    }
}

.scooters .expanded-content {
    display: flex;
}

.scooters .expanded-details {
    p {
        margin: 0.1rem 0;
        flex: 1;
        text-align: left;
    }
}

.scooters .expanded-actions {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.scooters .add-scooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 300px;
        
        button, input, a {
            width: 100%;
        }

        button {
            margin-bottom: 1rem;
        }

    }
}
