@use 'variables';
@use 'navbar';
@use 'home';
@use 'login';
@use 'scan';
@use 'profile';
@use 'account';
@use 'wallet';
@use 'history';

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
    background-color: variables.$background;
    color: variables.$text-primary;
    line-height: 1.5;
    font-size: 1.125rem;
}

html, input, button, select, textarea {
    font-family: variables.$font-primary !important;
    font-size: 1.125rem;
    line-height: 1.5;
}

body {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 1.5rem;
    width: 100%;
    box-sizing: border-box;
    max-width: 400px;
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

h3 {
    font-size: 1.25rem;
    font-weight: 600
}

a {
    color: variables.$text-link;
    text-decoration: none;
}

button {
    background-color: variables.$button-color;
    color: variables.$button-text;
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
    border: none;
    border-radius: 2rem;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: variables.$button-hover-color;
    }
}

input {
    background-color: variables.$background2;
    margin-bottom: 1rem;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 0.5rem;
    box-sizing: border-box;

    &:focus {
        outline: none;
        background-color: variables.$background3;
    }
}
